<html>
<head>
	<meta charset = "utf-8">
	<meta http-equip = "X-UA-Compatible" content = "IE=edge">
	<meta name = "viewport" content ="width=device-width , initial-scale=1">

	<title>Video Summarizer</title>

	<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity = "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin = "anonymous">
	<link href='https://fonts.googleapis.com/css?family=Chela One' rel='stylesheet'>
	<link rel = "stylesheet" href = "../static/style.css">
</head>
<body>
	<div class = "container">
		<h1 align="center">Video Summarizer</h1>
		<h4 align ="center"> Write the Motivation.....</h4>
		<form method = "POST" action ="/upload" enctype ="multipart/form-data">
			<p>
			<div class = "form-group">
				<label for = "inputFile">Upload File from System</label>
				<input type = "file" name ="inputFile">
			</div>
		</p>
	    <button type = "submit" class = "btn button1">GENERATE METADATA</button>
		</form>
	</div>

	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity = "
	sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin = "anonymous"></script>
</body>
</html>
