<html>
  <head>
    <meta charset = "utf-8">
    <meta http-equip = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content ="width=device-width , initial-scale=1">

    <title>Video Summarizer</title>

    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity = "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin = "anonymous">
    <link href='https://fonts.googleapis.com/css?family=Chela One' rel='stylesheet'>
    <link rel = "stylesheet" href = "../static/style.css">
  </head>

  <body>
    <h1 align="center">VIDSUM v1.0</h1>
    <h3 align="center">Understanding Video and providing Query Based Results</h3>
    <!--Generate Metadata Button-->
    <div class="box-1">
       <a href=capgenhome>
        <button type = "submit" class = "btn button1">GENERATE METADATA</button>
      </a>
    </div>

    <!--Search Query Button-->
    <div class="box-2">
        <a href=searchqueryhome>
        <button type = "submit" class = "btn button1">SEARCH QUERY</button>
      </a>
    </div>
  </body>
  <div class="box-3">
    <h4 align="center">RMD Sinhgad School of Engineering</h4>
    <p align = "center">
      <h3 align = "center"><i>Project By-</i></h3>
      <a href="https://www.linkedin.com/in/lalit-choudhary-4753271aa" target="_blank"><h1  align = "center">Lalit Choudhary</h1></a>
    </p>
  </div>
</html>




